.login_menu {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid Black;
}
.login_list {
  text-decoration: none;
  font-size: 30px;
  list-style: none;
}
a {
  text-decoration: none;
  color: blue;
}
a:hover {
  color: rgb(83, 28, 39);
}
h4 {
  margin: 0;
  padding: 0;
}
.heading {
  text-align: center;
  color: black;
  margin-top: 50px;
}
